* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'poppins';
}


/* header start  */



.nav {
    width: 200px;
    /* background-color: #4eadd2 */
}

.nav img {
    width: 100%;
}

/* tablet device */
 @media (min-width:500px) and (max-width:890px) {

    .nav img {
        width: 70%;
    }
 }


/* mobile device */
@media (min-width:300px) and (max-width:490px) {

    .nav img {
        width: 50%;
    }
 }



/* header end  */


/* hero section start  */

.hero-container {
    padding: 40px 0;
}

.hero-box h1 {
    font-family: 'Josefin Sans';
    font-size: 120px;
    font-weight: 900;
    margin: 0;
    color: #245e81;

}

.hero-box h3 {
    font-family: 'Josefin Sans';
    font-size: 40px;
    color: #4eadd2;
    margin-top: -30px;
}

.hero-image img {
    width: 100%;
}

/* small laptop  */
@media (min-width:900px) and (max-width:1200px) {
    .hero-box {
        width: 600px;
    }

    .hero-box h1 {
        font-size: 100px;

    }

    .hero-box h3 {
        font-size: 30px;
        margin-top: -20px;
    }
}

/* tablet device */
@media (min-width:500px) and (max-width:890px) {
    .hero-box {
        width: 500px;
        padding-left: 20px;
    }

    .hero-box h1 {
        font-size: 60px;

    }

    .hero-box h3 {
        font-size: 20px;
        margin-top: -17px;
    }

}


/* mobile device */
@media (min-width:300px) and (max-width:490px) {
    .hero-container {
        padding: 20px 0;
    }

    .hero-box {
        width: 450px;
        padding-left: 20px;
    }

    .hero-box h1 {
        font-size: 37px;

    }

    .hero-box h3 {
        font-size: 12px;
        margin-top: -10px;
    }

}





/* hero section end  */




/* most popular section start */

.popular-container {
    background-color: #F1F6FF;
    padding: 20px;
    text-align: center;
}


.box-content h2 {
    font-size: 30px;
    font-family: poppins;
    font-weight: 700;
    margin-top: 20px;
    color: #1e6592;
}

.box-content p {
    font-family: Montserrat;
    margin: 10px;
    color: #757575;
}


/* tablet device */
@media (min-width:500px) and (max-width:890px) {

    .box-content h2{
        font-size:24px;
    }

 }


/* mobile device */
@media (min-width:300px) and (max-width:490px) {

    .box-content h2{
        font-size:20px;
        margin-top: 0;
    }

    
    .box-content p{
        font-size: 10px;
    }
 }

/* most popular section end */




/* card section start  */


 .card-box{
    margin: 100px 0;
    padding: 0px;
    gap: 45px;
    flex-wrap: wrap;
 }


    
    /******************************************************** flip card start ********************************************************/


    .flip-card {
        background-color: transparent;
        width: 330px;
        height: 450px;
        /* border: 1px solid #f1f1f1; */
        perspective: 1000px;
        /* Remove this if you don't want the 3D effect */
    }

    /* This container is needed to position the front and back side */
    .flip-card-inner {
        position: relative;
        width: 100%;
        height: 100%;
        text-align: center;
        transition: transform 0.8s;
        transform-style: preserve-3d;
    }

    /* Do an horizontal flip when you move the mouse over the flip box container */
    .flip-card:hover .flip-card-inner {
        transform: rotateY(180deg);
    }

    /* Position the front and back side */
    .flip-card-front,
    .flip-card-back {
        position: absolute;
        width: 100%;
        height: 100%;
        border-radius: 20px;
        -webkit-backface-visibility: hidden;
        /* Safari */
        backface-visibility: hidden;
        filter: drop-shadow(1px 1px 5px rgba(0, 0, 0, 0.1));
    }

    /* Style the front side (fallback if image is missing) */

    .gold-loan{
        background: linear-gradient(rgba(255, 255, 255, 0)20%, rgb(2, 33, 64)),url(images/gold_loan-bg.png);
    }
    .gold-loan-back{
        background:linear-gradient(rgba(247, 247, 247, 0.8),rgba(247, 247, 247, 0.8)),url(images/gold_loan-bg.png);
    }
   
    .loan-against-mutual{
        background: linear-gradient(rgba(255, 255, 255, 0)20%, rgb(2, 33, 64)),url(images/loan_against_mutual_funds-bg.png);
    }
    .loan-against-mutual-back{
        background:linear-gradient(rgba(247, 247, 247, 0.8),rgba(247, 247, 247, 0.8)),url(images/loan_against_mutual_funds-bg.png);
    }
        
    .personal-loan{
        background: linear-gradient(rgba(255, 255, 255, 0)20%, rgb(2, 33, 64)),url(images/personal_loan-bg.png);
    }
    .personal-loan-back{
        background:linear-gradient(rgba(247, 247, 247, 0.8),rgba(247, 247, 247, 0.8)),url(images/personal_loan-bg.png);
    }  

    .hotel{
        background: linear-gradient(rgba(255, 255, 255, 0)20%, rgb(2, 33, 64)),url(images/hotel-bg.png);
    }
    .hotel-back{
        background:linear-gradient(rgba(247, 247, 247, 0.8),rgba(247, 247, 247, 0.8)),url(images/hotel-bg.png);
    }
    
    .education-loan{
        background: linear-gradient(rgba(255, 255, 255, 0)20%, rgb(2, 33, 64)),url(images/education_loan-bg.png);
    }
    .education-loan-back{
        background:linear-gradient(rgba(247, 247, 247, 0.8),rgba(247, 247, 247, 0.8)),url(images/education_loan-bg.png);
    }
        
    .auto-loan{
        background: linear-gradient(rgba(255, 255, 255, 0)20%, rgb(2, 33, 64)),url(images/auto_loan-bg.png );
    }
    .auto-loan-back{
        background:linear-gradient(rgba(247, 247, 247, 0.8),rgba(247, 247, 247, 0.8)),url(images/auto_loan-bg.png  );
    }



    .flip-card-front img{
        width: 50%;
        margin-top: 40px;
    }
    .flip-card-front h1{
        font-family: 'Josefin Sans';
        color: #fff;
        padding: 100px 20px 0 20px;
        font-size: 30px;
        font-weight: bold;
    }
    .flip-card-front a{
        text-decoration: none;
        color: #00ff3c;
        font-weight: bold;
    }

    /* Style the back side */
    .flip-card-back {
        color: white;
        transform: rotateY(180deg);
    }
    .flip-card-back h2{
        font-family: 'Josefin Sans';
        font-size: 25px;
        font-weight: bold;
        letter-spacing: -1px;
        margin-top: 40px;
        color: #0b0b0b;
    }

    .flip-card-back img{
        width: 90%;
        padding: 0 20PX;
        margin-top: 40PX;
        /* background-color: #fff; */
        filter: drop-shadow(1px 1px 4px rgba(0, 0, 0,0.5));
        border-radius: 20px;
    }
    .flip-card-back p{
        /* padding: 0 20PX; */
        margin-top: 40PX;
        color: #151515;
        font-weight: 600;
    }
    .flip-card-back button{
        width: 80%;
        padding: 15px;
        margin-top: 0px;
        outline: none;
        background-color: #4EADD2;
        border-radius: 10px;
        border: none;
        font-size: 20px;
        font-weight: bold;
        color: #fff;
        transition: .5s;
    }
    .flip-card-back button:hover{
        background-color:#1f789b ;
        filter: drop-shadow(1px 1px 5px rgba(0, 0, 0, 0.3));
    }
    
    .flip-card-back a{
        text-decoration: none;
    }


    /****************************************************** flip card end ******************************************************/

/* card section end  */




footer{
    background-color: #4EADD2;
    height: 60px;
}




